# Application dependencies for BazosChecker
flask
flask-cors
requests
beautifulsoup4
python-dotenv
apscheduler
flask-socketio
# Additional dependencies
lxml
eventlet
python-engineio
Werkzeug
# HTTPS support (optional)
pyOpenSSL
# User authentication and database
flask-sqlalchemy
flask-migrate
flask-login
flask-bcrypt
flask-jwt-extended
flask-limiter
sqlalchemy
bcrypt
cryptography
# Production server
gunicorn
psycopg2-binary
