# Application dependencies for BazosChecker
flask
flask-cors
requests
beautifulsoup4
python-dotenv
apscheduler
flask-socketio
# Additional dependencies
lxml
eventlet
python-engineio
Werkzeug
# HTTPS support (optional)
pyOpenSSL
